body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --normal-paragraph: "Libre Franklin";
  --font-roboto-serif: "Roboto Serif";

  /* font sizes */
  --normal-paragraph-size: 16px;

  /* Colors */
  --light-blue: #e8edf5;
  --mid-darker-blue: #717987;
  --darker-blue: #354250;
  --white: #fff;
  --black: #050505;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-base: 16px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-15xl: 34px;
  --padding-13xl: 32px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-4xs: 9px;

  /* Effects */
  --button-shadow: 0px 4px 4px rgba(53, 66, 80, 0.1);
}
