.equine,
.icon {
  position: relative;
}
.icon {
  width: 132.6px;
  height: 85px;
}
.equine {
  letter-spacing: 0.03em;
}
.logocontainer,
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.parent {
  gap: var(--gap-3xs);
}
.logocontainer {
  width: 280px;
  height: 160px;
  font-size: var(--font-size-5xl);
  color: var(--darker-blue);
  font-family: var(--font-roboto-serif);
}
.icontylPluslightboldhome {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
}
.home,
.homeIcon {
  position: relative;
}
.homeIcon {
  width: 24px;
  height: 24px;
}
.home {
  letter-spacing: 0.03em;
  font-weight: 500;
}
.button,
.icontylPluslightboldhomeParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icontylPluslightboldhomeParent {
  justify-content: center;
  gap: var(--gap-base);
}
.button {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  height: 50px;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.usersIcon {
  position: relative;
  width: 26.9px;
  height: 24px;
}
.button1,
.pagebuttonscontainer {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.button1 {
  border-radius: var(--br-5xs);
  height: 50px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.pagebuttonscontainer {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-15xl);
  gap: var(--gap-base);
  color: var(--black);
}
.frameChild {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--light-blue);
  height: 1px;
}
.sidebarInner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-15xl);
}
.icontylPluslightboldaddParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.actionbuttonscontainer,
.button3 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.button3 {
  border-radius: var(--br-5xs);
  background-color: var(--black);
  height: 50px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.actionbuttonscontainer {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-15xl);
  gap: var(--gap-base);
}
.button6,
.sidebar {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.button6 {
  border-radius: var(--br-5xs);
  height: 50px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  color: var(--black);
}
.sidebar {
  background-color: var(--white);
  width: 280px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--normal-paragraph-size);
  color: var(--white);
  font-family: var(--normal-paragraph);
}
