.id,
.name {
  width: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.name {
  width: 173px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.nurseInCharge {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.admissiondate,
.dob,
.ward {
  width: 207px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.dob,
.ward {
  width: 217px;
}
.ward {
  width: 192px;
}
.textContainer {
  flex: 1;
}
.input,
.tableheader,
.textContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.tableheader {
  align-self: stretch;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--white);
  border-bottom: 1px solid var(--light-blue);
  padding: var(--padding-5xl) 0;
}
.input {
  width: 173px;
}
.input,
.input1,
.input2 {
  border: 0;
  font-weight: 500;
  font-family: var(--normal-paragraph);
  font-size: var(--normal-paragraph-size);
  background-color: transparent;
}
.input1 {
  width: 207px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.input2 {
  width: 217px;
}
.input2,
.input3,
.tablerow,
.wardstable {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.input3 {
  border: 0;
  font-weight: 500;
  font-family: var(--normal-paragraph);
  font-size: var(--normal-paragraph-size);
  background-color: transparent;
  width: 192px;
}
.tablerow,
.wardstable {
  align-self: stretch;
  background-color: var(--white);
  padding: var(--padding-base) 0;
}
.wardstable {
  border-radius: var(--br-xs);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  text-align: left;
  font-size: var(--normal-paragraph-size);
  color: var(--mid-darker-blue);
  font-family: var(--normal-paragraph);
}
