.searchIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.searchWrapper {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--button-shadow);
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.findPatientWard {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
  opacity: 0.25;
}
.textInput {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--button-shadow);
  height: 45px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}
.seachBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.spacer {
  flex: 1;
  height: 61px;
}
.georgeRune,
.gruneequinemed {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.gruneequinemed {
  color: var(--darker-light-blue);
}
.georgeRuneParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame,
.odamabolddownIcon {
  position: relative;
  width: 16px;
  height: 16px;
}
.frame {
  border-radius: var(--br-5xs);
  background-color: var(--mid-darker-blue);
  width: 42px;
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
}
.gr {
  position: undefined;
  letter-spacing: 0.03em;
  font-weight: 500;
  display: inline-block;
  width: 31px;
  margin-top: 14px;
}
.frameChild {
  position: relative;
  border-radius: 50%;
  background-color: var(--white);
  border: 3px solid var(--light-blue);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
}
.frame1 {
  width: 37px;
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-11xs);
  margin-left: -32px;
}
.frame1,
.frameParent,
.profile1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frameParent {
  width: 47px;
  height: 44px;
  align-items: flex-start;
  color: var(--black);
}
.profile1 {
  align-items: center;
  gap: var(--gap-xs);
}
.header,
.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: var(--darker-blue);
}
.header {
  align-self: stretch;
  height: 90px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--normal-paragraph-size);
  color: var(--color-black);
  font-family: var(--normal-paragraph);
}
