.frameChild {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--button-shadow);
  width: 48px;
  height: 48px;
  z-index: 0;
}
.searchIcon {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 1;
}
.rectangleParent {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.findPatientWard {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
  opacity: 0.25;
}
.textInput {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--button-shadow);
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}
.seachBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.spacer {
  flex: 1;
  height: 61px;
}
.groupChild {
  top: 2px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--mid-darker-blue);
  width: 42px;
  height: 42px;
}
.gr,
.groupChild,
.groupItem {
  position: absolute;
}
.groupItem {
  top: 0;
  left: 33px;
  border-radius: 50%;
  background-color: var(--white);
  border: 3px solid var(--light-blue);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
}
.gr {
  top: 14px;
  left: 10px;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.rectangleGroup {
  position: relative;
  width: 47px;
  height: 44px;
}
.georgeRune,
.gruneequinemed {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.gruneequinemed {
  color: var(--darker-light-blue);
}
.georgeRuneParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--darker-blue);
}
.profileChild {
  position: relative;
  width: 16px;
  height: 16px;
}
.profile1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.header,
.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: var(--black);
}
.header {
  align-self: stretch;
  height: 90px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--normal-paragraph-size);
  color: var(--color-black);
  font-family: var(--normal-paragraph);
}
