.november,
.september {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 600;
}
.november {
  color: var(--black);
}
.monthsselector {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-109xl);
}
.div {
  position: absolute;
  margin: 0 !important;
  top: 14px;
  left: 14px;
  letter-spacing: 0.03em;
  font-weight: 500;
  z-index: 0;
}
.date,
.sun {
  position: relative;
}
.date {
  border-radius: var(--br-81xl);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sun {
  letter-spacing: 0.03em;
  font-weight: 500;
}
.day {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-3xs) 0;
  color: var(--darker-light-blue);
}
.datetimecontainer {
  flex-direction: column;
  align-items: center;
}
.date5,
.datetimecontainer,
.datetimecontainer5 {
  display: flex;
  justify-content: flex-start;
}
.date5 {
  border-radius: var(--br-81xl);
  background-color: var(--black);
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
.datetimecontainer5 {
  flex-direction: column;
  align-items: center;
  color: var(--white);
}
.date8,
.daycalender,
.dayselector {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.date8 {
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--black);
  flex-direction: row;
  position: relative;
}
.daycalender,
.dayselector {
  align-self: stretch;
}
.dayselector {
  flex-direction: row;
  gap: var(--gap-31xl);
  font-size: var(--font-size-xs);
  color: var(--darker-blue);
}
.daycalender {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.upcomingEventsWrapper {
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--darker-light-blue);
  width: 244px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div15 {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: var(--black);
}
.parent {
  width: 781px;
  height: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-33xl);
}
.frameChild,
.frameChild1,
.frameInner,
.frameItem,
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 746px;
  background-color: var(--color-gainsboro);
  width: 1px;
  height: 14px;
}
.frameChild1,
.frameInner,
.frameItem,
.rectangleDiv {
  top: 9px;
  left: 727px;
  height: 5px;
}
.frameChild1,
.frameInner,
.rectangleDiv {
  left: 705px;
}
.frameChild1,
.rectangleDiv {
  left: 682px;
}
.frameChild1 {
  top: 0;
  left: 663px;
  height: 14px;
}
.frameChild2,
.frameChild3,
.frameChild4,
.frameChild5,
.frameChild6,
.frameChild7,
.frameChild8 {
  position: absolute;
  top: 9px;
  left: 644px;
  background-color: var(--color-gainsboro);
  width: 1px;
  height: 5px;
}
.frameChild3,
.frameChild4,
.frameChild5,
.frameChild6,
.frameChild7,
.frameChild8 {
  left: 622px;
}
.frameChild4,
.frameChild5,
.frameChild6,
.frameChild7,
.frameChild8 {
  left: 599px;
}
.frameChild5,
.frameChild6,
.frameChild7,
.frameChild8 {
  top: 0;
  left: 580px;
  height: 14px;
}
.frameChild6,
.frameChild7,
.frameChild8 {
  top: 9px;
  left: 561px;
  height: 5px;
}
.frameChild7,
.frameChild8 {
  left: 539px;
}
.frameChild8 {
  left: 516px;
}
.frameChild10,
.frameChild11,
.frameChild12,
.frameChild13,
.frameChild9 {
  position: absolute;
  top: 0;
  left: 497px;
  background-color: var(--color-gainsboro);
  width: 1px;
  height: 14px;
}
.frameChild10,
.frameChild11,
.frameChild12,
.frameChild13 {
  top: 9px;
  left: 478px;
  height: 5px;
}
.frameChild11,
.frameChild12,
.frameChild13 {
  left: 456px;
}
.frameChild12,
.frameChild13 {
  left: 433px;
}
.frameChild13 {
  top: 0;
  left: 414px;
  height: 14px;
}
.frameChild14,
.frameChild15,
.frameChild16,
.frameChild17,
.frameChild18,
.frameChild19,
.frameChild20 {
  position: absolute;
  top: 9px;
  left: 395px;
  background-color: var(--color-gainsboro);
  width: 1px;
  height: 5px;
}
.frameChild15,
.frameChild16,
.frameChild17,
.frameChild18,
.frameChild19,
.frameChild20 {
  left: 373px;
}
.frameChild16,
.frameChild17,
.frameChild18,
.frameChild19,
.frameChild20 {
  left: 350px;
}
.frameChild17,
.frameChild18,
.frameChild19,
.frameChild20 {
  top: 0;
  left: 332px;
  height: 14px;
}
.frameChild18,
.frameChild19,
.frameChild20 {
  top: 9px;
  left: 313px;
  height: 5px;
}
.frameChild19,
.frameChild20 {
  left: 291px;
}
.frameChild20 {
  left: 268px;
}
.frameChild21,
.frameChild22,
.frameChild23,
.frameChild24,
.frameChild25 {
  position: absolute;
  top: 1px;
  left: 249px;
  background-color: var(--color-gainsboro);
  width: 1px;
  height: 14px;
}
.frameChild22,
.frameChild23,
.frameChild24,
.frameChild25 {
  top: 10px;
  left: 230px;
  height: 5px;
}
.frameChild23,
.frameChild24,
.frameChild25 {
  left: 208px;
}
.frameChild24,
.frameChild25 {
  left: 185px;
}
.frameChild25 {
  top: 0;
  left: 166px;
  height: 14px;
}
.frameChild26,
.frameChild27,
.frameChild28,
.frameChild29,
.frameChild30,
.frameChild31 {
  position: absolute;
  top: 9px;
  left: 147px;
  background-color: var(--color-gainsboro);
  width: 1px;
  height: 5px;
}
.frameChild27,
.frameChild28,
.frameChild29,
.frameChild30,
.frameChild31 {
  left: 125px;
}
.frameChild28,
.frameChild29,
.frameChild30,
.frameChild31 {
  left: 102px;
}
.frameChild29,
.frameChild30,
.frameChild31 {
  left: 64px;
}
.frameChild30,
.frameChild31 {
  left: 42px;
}
.frameChild31 {
  left: 19px;
}
.frame,
.frameChild32 {
  position: absolute;
  top: 0;
  width: 1px;
  height: 14px;
}
.frameChild32 {
  left: 0;
  background-color: var(--color-gainsboro);
}
.frame {
  left: 83px;
  background: linear-gradient(#d9d9d9, #d9d9d9), #d9d9d9;
  overflow: hidden;
}
.rectangleParent {
  position: relative;
  width: 747px;
  height: 15px;
}
.frameGroup {
  width: 781px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}
.frameParent,
.frameWrapper,
.timeframe {
  display: flex;
  justify-content: flex-start;
}
.frameWrapper {
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-2xs);
  color: var(--darker-light-blue);
}
.frameParent,
.timeframe {
  flex-direction: row;
}
.frameParent {
  align-items: flex-end;
  gap: var(--gap-4xl);
}
.timeframe {
  align-items: flex-start;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  width: 42px;
  height: 42px;
}
.cs {
  position: absolute;
  top: 12px;
  left: 10px;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.vectorParent {
  position: relative;
  width: 42px;
  height: 42px;
}
.lecturerAtUnza {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: var(--darker-light-blue);
}
.claytonSSirnameParent,
.frameDiv {
  display: flex;
  align-items: flex-start;
}
.claytonSSirnameParent {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  color: var(--darker-blue);
}
.frameDiv {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.seeMrSikasote {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: var(--darker-light-blue);
  display: inline-block;
  width: 186px;
}
.events,
.frameContainer,
.vcWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameContainer {
  align-items: center;
  gap: var(--gap-7xs);
}
.events,
.vcWrapper {
  box-sizing: border-box;
}
.vcWrapper {
  border-radius: var(--br-5xs);
  background-color: var(--mid-darker-blue);
  width: 42px;
  height: 42px;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-3xs);
}
.events {
  background-color: var(--white);
  width: 244px;
  height: 235px;
  align-items: center;
  padding: var(--padding-xs) 0;
  gap: var(--gap-xs);
  color: var(--black);
}
.div22 {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: var(--color-darkgray);
}
.event,
.tile {
  flex-direction: column;
  justify-content: flex-start;
}
.tile {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  width: 326px;
  height: 52px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-3xs) var(--padding-8xl) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-11xs);
}
.event {
  align-self: stretch;
}
.event,
.event1,
.tile2 {
  display: flex;
  align-items: flex-start;
}
.event1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-338xl);
}
.tile2 {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  width: 113px;
  height: 52px;
  justify-content: center;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-11xs);
}
.event2,
.tile2,
.timesheet {
  flex-direction: column;
}
.event2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-663xl);
}
.timesheet {
  background-color: var(--color-lavender);
  width: 815px;
  height: 230px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--font-size-smi);
  color: var(--white);
}
.schdualviewer,
.schedualcontainer,
.timesheet {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.schdualviewer {
  width: 1060px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-12xs);
  font-size: var(--font-size-sm);
  color: var(--light-blue);
}
.schedualcontainer {
  align-self: stretch;
  height: 407px;
  flex-direction: column;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--mid-darker-blue);
  font-family: var(--normal-paragraph);
}
