.equine,
.icon {
  position: relative;
}
.icon {
  width: 132.6px;
  height: 85px;
}
.equine {
  letter-spacing: 0.03em;
}
.logo,
.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.logo {
  align-self: stretch;
  height: 183px;
  flex-direction: row;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto-serif);
}
.goodMorningWelcome,
.signIntoYour {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.signIntoYour {
  font-size: var(--normal-paragraph-size);
  color: var(--mid-darker-blue);
  text-align: center;
  display: inline-block;
  width: 492px;
}
.greetingscontanier {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--font-size-17xl);
}
.enterYourUsername {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
  opacity: 0.25;
}
.form,
.textInput {
  flex-direction: column;
  align-items: flex-start;
}
.textInput {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--button-shadow);
  width: 250px;
  height: 45px;
  display: flex;
  justify-content: center;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}
.form {
  gap: var(--gap-base);
}
.form,
.formcontainer,
.signInWrapper {
  display: flex;
  justify-content: center;
}
.formcontainer {
  width: 250px;
  height: 150px;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-black);
}
.signInWrapper {
  flex-direction: row;
  align-items: center;
}
.loginbtn {
  box-shadow: var(--button-shadow);
}
.loginbtn,
.loginbtn1 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.actionbtns,
.bottomcontaner {
  flex-direction: column;
  align-items: flex-start;
}
.bottomcontaner {
  align-self: stretch;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.actionbtns {
  width: 250px;
  color: var(--black);
}
.actionbtns,
.main,
.siginin {
  display: flex;
  justify-content: flex-start;
}
.main {
  width: 1440px;
  height: 1024px;
  flex-direction: column;
  align-items: center;
  padding: 100px var(--padding-29xl) 0;
  box-sizing: border-box;
}
.siginin {
  position: relative;
  background-color: var(--light-blue);
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  font-size: var(--normal-paragraph-size);
  color: var(--darker-blue);
  font-family: var(--normal-paragraph);
}
