.wards1 {
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.dashboard,
.greetings {
  align-self: stretch;
  flex-direction: column;
}
.greetings {
  height: 90px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.dashboard {
  padding: 0 var(--padding-31xl);
}
.dashboard,
.main,
.wards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.main {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-29xl);
}
.wards {
  position: relative;
  background-color: var(--light-blue);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--darker-blue);
  font-family: var(--normal-paragraph);
}
